
# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
/tmp/*
/public/hipster/

# various artifacts
.rspec
/coverage/
/db/*.sqlite3
/public/cache
/gems

# Ignore application configuration
/config/application.yml
/config/pinning.yml
