- c = defined?(css) ? css : 'btn btn-default'

a href=url_for([:copy, @basket, order]) title=t('button.copy_order.title') data-method="put" data-confirm=overwrite_order_confirm button.copy_order.button

