- if @basket.editable?
  a href=submit_basket_path(@basket.uid) data-method="patch" data-confirm=t('button.submit_group_order.first_time.confirm') data-no-turbolink="" button.submit_group_order.first_time.text

- elsif !@basket.cancelled? && !@basket.arrived?
  a href=submit_basket_path(@basket.uid) data-method="patch" data-confirm=t('button.submit_group_order.first_time.confirm') data-no-turbolink="" button.submit_group_order.retry.text
