- confirm = @basket.arrived? ? 'It’s already marked as “arrived”. Update arrival time to now?' : ''
- color = @basket.arrived? ? '' : 'success'
a href="#{delivery_arrived_basket_path}" title="Push this button only, if the delivery really has arrived." data-method="put" data-confirm="#{confirm}"  class="button #{color}" ✓ Delivery Has Arrived
