- confirm = @basket.arrived? ? 'It’s already marked as “arrived”. Update arrival time to now?' : ''
- color = @basket.arrived? ? '' : 'success'
a href="#{delivery_arrived_basket_path}" title="Click here once the delivery has arrived. If you want good delivery time estimates, try to click this as soon as the food reaches your door." data-method="put" data-confirm="#{confirm}"  class="button #{color}" ✓ Delivery Has Arrived
