- confirm = @basket.arrived? ? 'It’s already marked as “arrived”. Update arrival time to now?' : ''
a href="#{delivery_arrived_basket_path}" data-method="put" data-confirm="#{confirm}"  class="button" ✓ Delivery Has Arrived
