- confirm = @order ? 'There’s already an order for you. Continue only if this is for someone else (=OK), otherwise edit your old order (=Cancel).' : ''
a href="#{new_order_path}" class="button" data-confirm="#{confirm}" data-no-turbolink="" ✚ Place New Order
