= link_to text,
  save_order_path(order.uuid),
  class: :button,
  title: "Saves your order for next time, in case you – or others – want to order the same again (saved orders can be seen and used by everyone).",
  method: :post,
  remote: true,
  data: { \
    inject_response: true,
    prompt: { \
      message: 'How to name your order? (Include your nick, unless it’s something general)',
      default: "#{cookie_get(:nick)}: ",
      param: 'name' } }
