a href="#{toggle_paid_order_path(@order.uuid)}" data-method="put" data-remote="true"  data-auto-reload="true" class="button #{@order.paid? ? 'warning' : 'success'}"
  '  Mark Order as #{@order.paid? ? "NOT" : ""} Paid
