$bg_light: #FFD9AB;
$bg_dark: #FFC680;
$bg_hover: #FDB356;

$bg_active: #94FF80;
$bg_done: $bg_dark;
$bg_togo: $bg_light;
$border: #E5840F;
$border_darker: #E57D00;

body {
  padding-top: 51px;
}

#hipsterTopBar {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  min-width: 100%;
  display: block;
  background: $bg_light;
  border-bottom: 2px $border solid;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 5px;

  h1, h2 {
    padding-top: 0;
    vertical-align: middle;
  }

  > * {
    margin: 10px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .warning b {
    display: inline-block;
    margin-right: 10px;
  }

  .button {
    line-height: 34px;
    padding: 0 10px;
    min-height: 34px;
    height: 34px;
    color: #000;
    border: 1px solid $border;
    white-space: nowrap;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    vertical-align: middle;
    font-weight: bold;
    font-size: 15px;
    background: $bg_dark;
    border-radius: 3px;
    box-shadow: 0 0 2px $border;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0 5px $border;
      background: #FDB356;
    }

    &.dim {
      font-weight: normal;
    }

    &.pulse {
      -webkit-animation-name: glow;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      -webkit-animation-timing-function: ease-in-out;

      animation-name: glow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  input.button {
    height: 36px;
  }

  input.button::-moz-focus-inner {
    padding-top: 2px;
  }

  $bc_height: 34px;
  $arrow_width: 1px;
  ol.step {
    line-height: $bc_height;
    color: black;
    border: 0;
    padding: 0;
    display: inline-block;
    background: $border;
    border-left: 1px solid $border;
    border-radius: 3px;
    vertical-align: middle;
    white-space: nowrap;

    li {
      display: inline-block;
      background: $bg_togo;
      padding-right: 10px;
      height: $bc_height;
      margin-right: $bc_height + $arrow_width;
      position: relative;
      text-decoration: none;
      color: black;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;

      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-right: 0;
        border-right: 1px solid $border;
        &:after {
          display: none !important;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: -$bc_height;
        border: $bc_height/2 solid $bg_togo;
        border-left-color: transparent;
        pointer-events: none;
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -$bc_height;
        border: $bc_height/2 solid transparent;
        border-left-color: $bg_togo;
        pointer-events: none;
      }

      &:first-of-type {
        padding-left: 15px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        &:before {
          display: none;
        }
      }

      &.active {
        background: $bg_active;

        &:before {
          border-color: $bg_active;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $bg_active;
        }
      }

      &.done {
        background: $bg_done;

        &:before {
          border-color: $bg_done;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $bg_done;
        }
      }
    }
  }
}


@media
only screen and (max-device-width : 600px),
only screen and (max-width : 600px) {
  #hipsterTopBar {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
  }

  ol.step {
    counter-reset: progress;

    height: 36px;

    li div {
      height: 34px;
      width: 10px;
      overflow: hidden;

      &:before {
        counter-increment: progress;
        content: counter(progress);
        display: inline-block;
        width: 10px;
      }
    }

    li.active div {
      width: auto;
      height: auto;

      &:before {
        counter-increment: progress;
        content: "";
        width: 0;
      }
    }
  }
}




@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 1px $border;
    border-color: $border;
  }
  100% {
    -webkit-box-shadow: 0 0 13px $border;
    border-color: $border_darker;
  }
}

@keyframes glow {
  0% {
    border-color: $border;
    box-shadow: 0 0 1px $border;
  }
  100% {
    border-color: $border_darker;
    box-shadow: 0 0 13px $border;
  }
}
