.flash {
  padding: 10px;
  margin: 10px 0 2px 0;
  font-size: 150%;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }

  &.error {
    background: #F2DEDE;
    color: #333;
  }

  &.warn {
    background: #FCF8E3;
    color: #333;
  }

  &.success {
    background: #DFF0D8;
    color: #333;
  }

  &.info {
    background: #428BCA;
    color: #fff;
  }

}
