$bg_light: #FFD9AB;
$bg_dark: #FFC680;
$bg_hover: #FDB356;

$bg_active: #94FF80;
$bg_done: $bg_dark;
$bg_togo: $bg_light;
$border: #E5840F;

body {
  padding-top: 57px;
}


#hipsterTopBar {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background: $bg_light;
  border-bottom: 2px $border solid;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  padding: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  > * {
    margin: 0 10px;
  }

  .button {
    display: inline-block;
    line-height: 34px;
    padding: 0 10px;
    height: 34px;
    color: #000;
    border: 1px solid $border;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    vertical-align: middle;
    font-weight: bold;
    background: $bg_dark;
    border-radius: 3px;
    box-shadow: 0 0 2px $border;

    &:hover {
      box-shadow: 0 0 5px $border;
      background: #FDB356;
    }
  }


  $bc_height: 34px;
  $arrow_width: 1px;
  ol.step {
    line-height: $bc_height;
    color: black;
    border: 0;
    padding: 0;
    display: inline-block;
    background: $border;
    border-left: 1px solid $border;
    border-radius: 3px;
    margin: 0;
    vertical-align: middle;

    li {
      display: inline-block;
      background: $bg_togo;
      padding-right: 10px;
      height: $bc_height;
      margin-right: $bc_height + $arrow_width;
      position: relative;
      text-decoration: none;
      color: black;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;

      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-right: 0;
        border-right: 1px solid $border;
        &:after {
          display: none !important;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: -$bc_height;
        border: $bc_height/2 solid $bg_togo;
        border-left-color: transparent;
        pointer-events: none;
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -$bc_height;
        border: $bc_height/2 solid transparent;
        border-left-color: $bg_togo;
        pointer-events: none;
      }

      &:first-of-type {
        padding-left: 15px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        &:before {
          display: none;
        }
      }

      &.active {
        background: $bg_active;
        text-decoration: none;

        &:before {
          border-color: $bg_active;
        }

        &:after {
          border-left-color: $bg_active;
        }
      }

      &.done {
        background: $bg_done;
        text-decoration: none;

        &:before {
          border-color: $bg_done;
        }

        &:after {
          border-left-color: $bg_done;
        }
      }
    }
  }
}
