body {
  min-height: 100%;
  background: url(image-path('large_glasses_bg.png')) no-repeat bottom right fixed #fff;
  font-family: 'Cabin', sans-serif;
}

a {
  color: #DB8D2E;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02);

  &:hover {
    color: #E5840F;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  }
}

p.huge {
  font-size: 300%;
  img {
    vertical-align: middle;
    padding-left: 30px;
  }
}

h1, h2, h3, h4, h5 {
  padding-top: 10px;

  & + p, + .pile, + table {
    margin-top: -10px;
  }
}

input, .button {
  font-family: 'Cabin', sans-serif;
  padding: 6px 8px;
  margin: 4px 4px 4px 0;
  vertical-align: middle;
  border: 1px solid #777;
  outline: 0;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;

  &:active, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(229, 132, 15, 0.8);
    border-color: #E5840F;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &[type=submit], &.button {
    background: #F5F5F5;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background: #FFD9AB;
      border-color: #E5840F;
    }
  }

  &.button {
    color: #000;
    display: inline-block;
    height: 21px;
    line-height: 22px;
  }
}

ul {
  list-style-position: inside;
  padding-left: 1px;
  margin: 8px 0;
}

p + ul {
  margin-top: -15px;
}

.bad {
  color: #AE0000;
}

.good {
  color: #007D28;
}

span.larger {
  font-size: 150%;
  line-height: inherit;
  vertical-align: top;
}

.dim {
  color: #999;
}

.bold {
  font-weight: bold;
}

table {
  margin: 0;
  border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 8px;
  min-width: 60px;
}

tr:first-child {
  background: rgba(100, 100, 100, 0.06);
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.price {
  text-align: right;
}

td ul {
  margin: 0;
}

tr:nth-child(odd) {
  background-color: rgba(100, 100, 100, 0.03);
}

tr.highlight {
  background-color: rgba(255, 217, 171, 0.2);
}

td a {
  display: inline-block;
  padding: 0 4px;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.pile {
  font-size: 140%;
  div {
    display: inline-block;
    margin-right: 60px;
  }

  span {
    display: inline-block;
    margin-right: 10px;
  }
}
